@font-face {
  font-family: 'Bebas';
  font-display: swap;
  src: url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Bebas';
  font-display: swap;
  src: url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Bebas';
  font-display: swap;
  src: url("../fonts/bebasneue_thin-webfont.woff2") format("woff2"), url("../fonts/bebasneue_thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Bebas';
  font-display: swap;
  src: url("../fonts/bebasneue_light-webfont.woff2") format("woff2"), url("../fonts/bebasneue_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in; }

html, body {
  font-family: 'Bebas', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #181818;
  line-height: 1.6;
  height: 100%;
  max-height: 100vh;
  background-color: #9789f9; }

ul {
  padding-left: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

a, button {
  outline: none; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.pricing {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -10px; }
  .pricing__col {
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(36.51%, #f5f4f9), color-stop(36.51%, #fff), color-stop(89%, #fff), color-stop(89%, #f5f4f9));
    background-image: -webkit-linear-gradient(#f5f4f9 36.51%, #fff 36.51%, #fff 89%, #f5f4f9 89%);
    background-image: -o-linear-gradient(#f5f4f9 36.51%, #fff 36.51%, #fff 89%, #f5f4f9 89%);
    background-image: linear-gradient(#f5f4f9 36.51%, #fff 36.51%, #fff 89%, #f5f4f9 89%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 30.74766%;
    padding: 35px 80px 125px;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 250px;
    flex: 1 0 250px;
    margin: 0 10px; }
    .pricing__col:after {
      content: "";
      display: block;
      position: absolute;
      background-color: #fff;
      border-radius: 50% 50% 0 0;
      width: 100%;
      height: 10%;
      top: 26.51%;
      left: 0; }
    .pricing__col:before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../image/ui&ux-icon.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 33px;
      height: 33px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 30%;
      z-index: 2; }
  .pricing__col--center {
    width: 34.57944%;
    padding: 50px 80px 160px; }
    .pricing__col--center:before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../image/webdesignn-icon.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 37px;
      height: 37px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 30%;
      z-index: 2; }
    .pricing__col--center:after {
      height: 11%;
      top: 25.61%;
      left: 0; }

.price__rate {
  position: relative;
  font-size: 60px;
  line-height: 1;
  font-weight: 100;
  margin-bottom: 10px; }
  .price__rate:before, .price__rate:after {
    content: "";
    display: block;
    position: absolute; }
  .price__rate:before {
    content: '$';
    font-size: 24px;
    left: 30%;
    top: 10%; }
  .price__rate:after {
    content: '/HR';
    font-size: 16px;
    font-weight: 400;
    right: 28%;
    bottom: 10%; }

.price__position {
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 120px; }

.price__body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 3.5;
  text-align: left; }

.button {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  left: 50%;
  background-color: #6fcffb;
  -webkit-box-shadow: 2.424px 4.373px 18px 0px rgba(133, 192, 247, 0.31);
  box-shadow: 2.424px 4.373px 18px 0px rgba(133, 192, 247, 0.31);
  border-radius: 30px;
  padding: 14px 21px;
  width: 203px;
  z-index: 2; }
