@font-face {
  font-family: 'Bebasneue';
  font-display: swap;
  src: url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Bebasneue';
  font-display: swap;
  src: url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Bebasneue';
  font-display: swap;
  src: url("../fonts/bebasneue_thin-webfont.woff2") format("woff2"), url("../fonts/bebasneue_thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Bebasneue';
  font-display: swap;
  src: url("../fonts/bebasneue_light-webfont.woff2") format("woff2"), url("../fonts/bebasneue_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in; }

html, body {
  font-family: 'Bebasneue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #181818;
  line-height: 1.6;
  height: 100%;
  max-height: 100vh;
  background-color: #9789f9; }

ul {
  padding-left: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

a, btn {
  outline: none; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.pricing {
  padding: 160px 50px 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -10px; }
  .pricing__col {
    width: 30%; }
  .pricing__col--big {
    width: 33.94495%; }

.price {
  -webkit-box-shadow: 2.424px 4.373px 59px 0px rgba(122, 107, 231, 0.004);
  box-shadow: 2.424px 4.373px 59px 0px rgba(122, 107, 231, 0.004);
  background-color: #f5f4f9;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .price__header {
    padding: 35px 20px 30px; }
    .price__header--big {
      padding: 50px 20px 40px; }
  .price__rate {
    display: inline-block;
    position: relative;
    font-size: 60px;
    line-height: 1;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 0.08em; }
    .price__rate:before, .price__rate:after {
      content: "";
      display: block;
      position: absolute;
      letter-spacing: normal; }
    .price__rate:before {
      content: '$';
      font-size: 24px;
      left: -10px;
      top: 5px; }
    .price__rate:after {
      content: '/HR';
      font-size: 16px;
      font-weight: 300;
      right: -12px;
      bottom: 6px; }
  .price__position {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.04em; }
    .price__position--big {
      letter-spacing: 0.08em; }
  .price__body {
    padding: 35px 20px 55px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    line-height: 3;
    background-color: #fff;
    border-radius: 300px 300px 0 0 / 150px 150px 0 0;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
    .price__body--big {
      padding-bottom: 75px; }
  .price__img {
    display: block;
    margin: 0 auto 20px; }
  .price__list {
    display: inline-block;
    text-align: left; }
  .price__footer {
    padding: 0 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .price__footer--big {
      padding-top: 40px;
      padding-bottom: 20px; }
  .price__footer-text {
    font-weight: 300;
    font-family: 'Roboto', Arial, sans-serif;
    color: #a9a9a9;
    font-size: 11px;
    margin: auto; }
  .price__bubble {
    position: absolute;
    top: -3px;
    right: -1px;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  .price__tooltip {
    position: absolute;
    top: -10px;
    right: 10px;
    -webkit-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    z-index: 2; }
  .price__btn {
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    left: 50%; }

.btn {
  display: inline-block;
  font-weight: 700;
  color: #242d2e;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: .75rem 1rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 8px;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
  .btn--primary {
    font-size: 18px;
    letter-spacing: 0.08em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #6fcffb;
    -webkit-box-shadow: 2.424px 4.373px 18px 0px rgba(133, 192, 247, 0.31);
    box-shadow: 2.424px 4.373px 18px 0px rgba(133, 192, 247, 0.31);
    border-radius: 30px;
    border: 1px solid transparent;
    min-width: 203px; }
    .btn--primary:focus {
      border-color: #000; }
    .btn--primary:hover {
      background-color: #fff;
      color: #6fcffb;
      border-color: #6fcffb; }
    .btn--primary:active {
      background-color: #ffeecc; }
  .btn--big {
    background-color: #fd8d7b;
    -webkit-box-shadow: 2.424px 4.373px 18px 0px rgba(253, 141, 123, 0.31);
    box-shadow: 2.424px 4.373px 18px 0px rgba(253, 141, 123, 0.31);
    bottom: 100%; }
    .btn--big:hover {
      color: #fd8d7b;
      border-color: #fd8d7b; }
    .btn--big:active {
      background-color: #ffeecc; }

.bubble {
  display: block;
  width: 46px;
  height: 46px;
  background-color: #fd8d7b;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 46px;
  outline: none;
  font-weight: 400; }
  .bubble:focus + .tooltip, .bubble:hover + .tooltip {
    visibility: visible;
    opacity: 1; }
    .bubble:focus + .tooltip:before, .bubble:hover + .tooltip:before {
      visibility: visible;
      opacity: 1; }
  .bubble:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fd8d7b;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -7px; }
  .bubble:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #fd8d7b;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -11px; }

.tooltip {
  display: block;
  min-width: 100px;
  padding: 7px 25px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: #3b4040;
  border: 1px solid #3b4040;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0.2;
  font-weight: 400;
  letter-spacing: 0.08em; }
  .tooltip:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 5px 6.5px 0;
    border-color: transparent #3b4040 transparent transparent;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -4px;
    visibility: hidden;
    opacity: 0.2; }
