//fonts
@font-face {
	font-family: 'Bebasneue';
	font-display: swap;
	src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue_bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;

}

@font-face {
	font-family: 'Bebasneue';
	font-display: swap;
	src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue_regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Bebasneue';
	font-display: swap;
	src: url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue_thin-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;

}

@font-face {
	font-family: 'Bebasneue';
	font-display: swap;
	src: url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue_light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;

}

//mixins
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}

//variable
$color-text-base: #181818;
$bg-color-btn-primary: rgb(111, 207, 251);
$bg-color-btn-big: rgb(253, 141, 123);
$bg-color-bubble: #fd8d7b;


*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	transition: all .1s ease-in;
}

html, body{
	font-family: 'Bebasneue', Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: $color-text-base;
	line-height: 1.6;
	height: 100%;	
	max-height: 100vh;
	background-color: #9789f9;
}

ul {
	padding-left: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

a, .btn {
	outline: none;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.container {
	max-width: 1200px;
	@include push--auto;
	padding: 0 15px;
}

.btn {
	display: inline-block;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	padding: .75rem 1rem;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 8px;
	letter-spacing: 0.08em;
	text-decoration: none;
	border-radius: 30px;
	border: 2px solid transparent;
	min-width: 203px;
	text-transform: uppercase;
	box-shadow: 2.424px 4.373px 18px 0px rgba(133, 192, 247, 0.31);
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	&--primary {
		background-color: $bg-color-btn-primary;

		&:focus {
			border-color: #000;
		}

		&:hover,
		&:active {
			background-color: #fff;
			color: $bg-color-btn-primary;
			
		}

		&:active {
			border-color: $bg-color-btn-primary;
		}
	}
}

.pricing {
	padding: 160px 50px 145px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -10px;

	&__col {		
		width: (327 / 1090) *100%;
	}
	&__col--big {
		width: (370 / 1090) *100%;
	}
}
.price {
	box-shadow: 2.424px 4.373px 59px 0 rgba(122, 107, 231, 0.004);
	background-color: #f5f4f9;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;

	&__header {
		padding: 35px 20px 30px;

		&--big {
			padding: 50px 20px 40px;
		}
	}

	&__rate {
		display: inline-block;
		position: relative;
		font-size: 60px;
		line-height: 1;
		font-weight: 100;
		margin-bottom: 10px;
		letter-spacing: 0.08em;


		&:before,
		&:after {
			@include pseudo;
			letter-spacing: normal;
		}

		&:before {
			content: '$';
			font-size: 24px;
			left: -10px;
			top: 5px;
		}
		&:after {
			content: '/HR';
			font-size: 16px;
			font-weight: 300;
			right: -12px;
			bottom: 6px;
		}
	}

	&__position {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 0.04em;

		&--big {
			letter-spacing: 0.08em;
		}
	}

	&__body {
		padding: 35px 20px 55px;
		font-family: 'Roboto', Arial, sans-serif;
		font-weight: 300;
		line-height: 3;
		background-color: #fff;
		border-radius: 300px 300px 0 0 / 150px 150px 0 0;
		width: 100%;
		flex: 1 0 auto;

		&--big {
			padding-bottom: 75px;
		}
	}

	&__img {
		display: block;
		margin: 0 auto 20px;
	}

	&__list {
		display: inline-block;
		text-align: left;
	}

	&__footer {
		padding: 0 20px;
		flex: 0 0 auto;
		min-height: 60px;
		display: flex;
		position: relative;

		&--big {
			padding-top: 40px;
			padding-bottom: 20px;
		}
	}

	&__footer-text {
		font-weight: 300;
		font-family: 'Roboto', Arial, sans-serif;
		color: #a9a9a9;
		font-size: 11px;
		margin: auto;
	}

	&__bubble {
		position: absolute;
		top: 22px;
		right: 22px;
	}
	&__tooltip {
		position: absolute;
		top: 22px;
		right: -91px;
		z-index: 2;
	}

	&__btn {
		position: absolute;
		bottom: 0;
		transform: translate(-50%, 50%);
		left: 50%;

		&--big {
			background-color: $bg-color-btn-big;
			bottom: 100%;

			&:hover {
				color: $bg-color-btn-big;
			}

			&:active {
				border-color: $bg-color-btn-big;
			}
		}
	}
}

.bubble {
	display: block;
	width: 46px;
	height: 46px;
	background-color: $bg-color-bubble;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 46px;
	outline: none;
	font-weight: 400;

	&:focus, 
	&:hover {
		& + .tooltip {
			visibility: visible;
			opacity: 1;

			&:before {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		background-color: $bg-color-bubble;
		border-radius: 50%;
		position: absolute;
		top: -5px;
		right: -7px;
	}

	&:after {
		content: "";
		display: block;
		width: 4px;
		height: 4px;
		background-color: $bg-color-bubble;
		border-radius: 50%;
		position: absolute;
		top: -9px;
		right: -11px;
	}
}
.tooltip {
	display: block;
	min-width: 100px;
	padding: 7px 25px;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	background-color: #3b4040;
	border: 1px solid #3b4040;
	border-radius: 20px;
	visibility: hidden;
	opacity: 0.2;
	font-weight: 400;
	letter-spacing: 0.08em;

	&:before {
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6.5px 5px 6.5px 0;
		border-color: transparent #3b4040 transparent transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -4px;
		visibility: hidden;
		opacity: 0.2;
	}
}
