//шрифти
@font-face {
	font-family: 'Bebas';
	font-display: swap;
	src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue_bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;

}

@font-face {
	font-family: 'Bebas';
	font-display: swap;
	src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue_regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Bebas';
	font-display: swap;
	src: url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue_thin-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;

}

@font-face {
	font-family: 'Bebas';
	font-display: swap;
	src: url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue_light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;

}

//міксіни
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}

//змінні
$color-text-base: #181818;
$bg-color-active: #ffeecc;

*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	transition: all .1s ease-in;
}


//font-family: 'Open Sans', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Roboto', sans-serif;

html, body{
	font-family: 'Bebas', Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: $color-text-base;
	line-height: 1.6;
	height: 100%;	
	max-height: 100vh;
	background-color: #9789f9;
}

ul {
	padding-left: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

a, button {
	outline: none;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.container {
	max-width: 1200px;
	@include push--auto;
	padding: 0 15px;
}
/*
.pricing {
	padding: 160px 50px 145px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -10px;

	&__col {
		position: relative;
		background-color: #f5f4f9;
		width: (327 / 1090) *100%;
		padding: 35px 20px 125px;
		text-align: center;
		margin: 0 10px;
		display: flex;

		&:after	{
			@include pseudo;
			background-color: #fff;
			border-radius: 300px 300px 0 0 / 150px 150px 0 0;
			width: 100%;
			height: (400 / 610) * 100%;
			top: 25%;
			left: 0;
			z-index: 1;			
		}

		&:before {
			@include pseudo;
			background-image: url('../image/ui&ux-icon.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 33px;
			height: 37px;
			left: 50%;
			transform: translateX(-50%);
			top: 30%;
			z-index: 2;
		}
	}

	&__col--center {
		width: (370 / 1090) *100%;
		padding: 45px 20px 150px;

		&:before {
			@include pseudo;
			background-image: url('../image/webdesignn-icon.png');
			width: 37px;
		}

		&:after	{
			height: (440 / 685) * 100%;
			top: 25.61%;
			left: 0;			
		}
	}

	&__col--right:before {
		background-image: url('../image/web-development-icon.png');
		height: 37px;
	}
}


.price {
	margin: auto;

	&__header {
		position: relative;
		letter-spacing: 0.08em;
	}

	&__rate {
		position: relative;
		font-size: 60px;
		line-height: 1;
		font-weight: 100;
		margin-bottom: 10px;


		&:before,
		&:after {
			@include pseudo;
		}

		&:before {
			content: '$';
			font-size: 24px;
			left: 26%;
			top: 10%;
		}
		&:after {
			content: '/HR';
			font-size: 16px;
			font-weight: 400;
			right: 19%;
			bottom: 10%;
		}

		&--center:before {
			left: 37%;
			top: 9%;
		}
		&--center:after {
			right: 28%;
			bottom: 9%;
		}
	}
	
	&__position {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
		margin-bottom: 125px;
		letter-spacing: 0.04em;

		&--center {
			margin-bottom: 145px;
			letter-spacing: 0.08em;
		}
	}

	&__body {
		position: relative;
		font-family: 'Roboto', Arial, sans-serif;
		line-height: 3.5;
		text-align: left;
		z-index: 2;
	}

	&__bubble {
		position: absolute;
		top: -30px;
		right: -65px;
	}

	&__tooltip {
		position: absolute;
		top: -22px;
		right: -174px;
		z-index: 5;
	}

	&__footer {
		font-weight: 300;
		font-family: 'Roboto', Arial, sans-serif;
		color: #a9a9a9;
	}
}

.button {
	display: block;
	position: absolute;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	bottom: 0;
	transform: translate(-50%, 50%);
	left: 50%;
	background-color: rgb(111, 207, 251);
	box-shadow: 2.424px 4.373px 18px 0px rgba(133, 192, 247, 0.31);
	border-radius: 30px;
	border: 1px solid transparent;
	padding: 14px 21px;
	width: 203px;
	z-index: 2;

	&:focus {
		border-color: #000;
	}

	&:hover {
		background-color: #fff;
		color: rgb(111, 207, 251);
		border-color: rgb(111, 207, 251);
	}

	&:active {
		background-color: $bg-color-active;
	}

	&--center {
		background-color: rgb(253, 141, 123);
		box-shadow: 2.424px 4.373px 18px 0px rgba(253, 141, 123, 0.31);
		bottom: 10%;

		&:hover {
			background-color: #fff;
			color: rgb(253, 141, 123);
			border-color: rgb(253, 141,123);
		}
		
		&:active {
			background-color: $bg-color-active;
		}
	}
}

.tooltip {
	display: block;
	min-width: 100px;
	padding: 7px 25px;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	background-color: #3b4040;
	border: 1px solid #3b4040;
	border-radius: 20px;
	visibility: hidden;
	opacity: 0.2;

	&:before {
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6.5px 5px 6.5px 0;
		border-color: transparent #3b4040 transparent transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -4px;
	}
}

.bubble {
	display: block;
	width: 46px;
	height: 46px;
	background-color: #fd8d7b;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 46px;
	outline: none;

	&:focus + .tooltip, &:hover + .tooltip{
		visibility: visible;
		opacity: 1;
	}

	&:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		background-color: #fd8d7b;
		border-radius: 50%;
		position: absolute;
		top: -5px;
		right: -7px;
	}

	&:after {
		content: "";
		display: block;
		width: 4px;
		height: 4px;
		background-color: #fd8d7b;
		border-radius: 50%;
		position: absolute;
		top: -9px;
		right: -11px;
	}
}

*/