//миксины
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}

//переменные 
$color-text-base: #181818;
$bg-color-active: #ffeecc;

*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	transition: all .1s ease-in;
}


//font-family: 'Open Sans', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Roboto', sans-serif;

html, body{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: $color-text-base;
	line-height: 1.6;
	height: 100%;	
	max-height: 100vh;
	background-color: #9789f9;
}

ul {
	padding-left: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

a, button {
	outline: none;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.container {
	max-width: 1200px;
	@include push--auto;
	padding: 0 15px;
}

.pricing {
	padding: 100px 50px;
	&__col {
		width: (328 / 1100) * 100%;
		float: left;
		background-color: #f5f4f9;
		margin-right: 15px;
		padding: 35px 70px;
		text-align: center;

		&:last-child {
		margin-right: 0;

		}
	}

	&__col--center {
		width: (370 / 1100) * 100%;
	}
}

.row {
}

.price {
	&__rate {
	font-size: 60px;
	margin-bottom: 20px;
	}

	&__position {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 120px;
	}

	&__body {}
}

.button {
}
